.spinner{
    font-size: 10px;
    margin: 22%;
}

  .app-container {
    display: flex;
    border: 1px solid #9B70D0;
    width: 99%;
    border-radius:7px;
    margin: 5px;
    padding: 5px;
  }

  .sidebar{
   width: 7%;
   
  }
  .card-data{
width: 93%;
  }

  .icon{
    padding: 20px;
    margin: 10px;
    font-size: 1.5rem;
  }
  .menu-list{
    margin-top: 10px;
  }
  .icon-account{
    padding: 15px;
    margin: 12px;
    font-size: 2rem;
  }